
:root {
--White: hsl(0, 0%, 100%);
--Stone-100: hsl(30, 54%, 90%);
--Stone-150: hsl(30, 18%, 87%);
--Stone-600: hsl(30, 10%, 34%);
--Stone-900: hsl(24, 5%, 18%);
--Brown-800: hsl(14, 45%, 36%);
--Rose-800: hsl(332, 51%, 32%);
--Rose-50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Young-Serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit';
    margin: 0;
    background-color: var(--Stone-100);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start
}

.content-container {
    background-color: var(--White);
    width: 500px;
    padding: 20px;
    margin-top: 100px;
}

@media (max-width: 1280px) {
    .content-container {
        margin-top: 0;
    }
}

img {
    width: 450px;
}



.attribution { 
    font-size: 11px; text-align: center; 

}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
